<% if books.size > 0 %>
  <dl>
  <% books.each do |book| %>
    <dt><%= link_to book.title, book_path(book) %></dt>
    <dd><%= book.authors %></dd>
  <% end %>
  </dl>
<% else %>
  <h2>Sorry, we haven't found any books!</h2>
<% end %>
