<h1>New Book</h1>

<div class="well">
  <h3>Find by ISBN</h3>

  <%= form_tag new_book_path, method: :get, class: 'form-horizontal' do %>
    <fieldset>
      <div class='control-group'>
        <label class='control-label' for="isbn">ISBN:</label>
        <div class='controls'>
          <%= text_field_tag :isbn %>
        </div>
      </fieldset>
      <fieldset>
        <div class='controls'>
          <%= submit_tag "Find", class: 'btn-primary' %>
        </div>
    </fieldset>
  <% end %>
</div>


<%= render partial: 'form' %>