// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#taggings-container {
  margin: 15px 0;
}

.book-meta {
  margin-top: 15px;
  margin-bottom: 15px;
}