<footer class="footer">
	<div class="container">
		<div class="row-footer">
			<div class="span12">
				<ul class="footer-links group">
					<li>copyright &copy;  <%= "#{Date.today.year}." -%> all rights reserved</li>
					<li>About Biblioteka</li>
					<li>Frequently Asked Questions</li>
					<li>Help</li>
					<li>Other Libraries in your city</li>
					<li>Terms & Conditions</li>
				</ul>
			</div>
			<div class="span4">
				<!-- pix logo-->
			</div>
		</div>
	</div>
</footer>
