<div class="row search-bar <%= "no-title-bar" if params[:action] == "browse" %>">
	<div class="search-container">
		<form>
			<input class="span8" placeholder="What do you feel like reading today?">
			<div class="button search">Search</div>
			<span class="seperator"></span>
			<div class="button surprise">Surprise me!</div>
		</form>
	</div><!-- .search-container -->
</div><!-- .search-bar -->
